// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.catch {
  margin: 0px 0px 150px 0px;
  font-size: 13px;
}

.twitter-notice {
  font-size: 12px;
  text-align: right;
}

.caution {
  color: lightgrey;
  font-size: 13px;
}
